@media screen and (max-width: 768px) {

	nav {
		background-color: transparent;
		position: relative;
	}

	.hamberger_line {
		width: 40px;
		height: 4px;
		background-color: #63a8b8;
		margin: 7px; 
	}

	.hamberger {
		position: absolute;
		right: 0%;
		transform: translate(-50%,-50%);
		top: 50%;
		z-index: 20;
		cursor: pointer;
	}

	.nav_links {
		position: fixed;
		background-color: #63a8b8;
		height: 100vh;
		width: 100%;
		top: 0%;
		left: 0%;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		clip-path: circle(32px at 88% -10%);
		-webkit-clip-path: circle(32px at 88% -10%);
		transition: all 0.7s ease-in-out;
		pointer-events: none;
	}

	.nav_links.open {
		clip-path: circle(800px at 88% 7%);
		-webkit-clip-path: circle(800px at 88% 7%);
		pointer-events: all;
	}

	.nav_links li {
		font-size: 40px;
		margin: 2% 0%; 
		background-color: transparent;
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	} 

	.nav_bar ul li a {
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.contact_button {
		margin: 0;
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.nav_bar ul li:last-child a {
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.service_link_each {
		font-size: 30px;
		-webkit-text-stroke: 1px white;
	}

	.service_link_each a p {
		color: transparent;
    	-webkit-text-stroke: 1px white;
    	padding: 4% 0%;
	}

	.landing {
		display: flex;
		height: 90vh;
	}

	.landing_sec_1 {
		padding: 0% 3%;
		flex: none;
	}

	.load_circle {
		height: 30px;
		width: 30px;
	}

	.banner {
		font-size: 32px;
    	padding: 5% 0%;
	}

	.service_name {
		font-size: 47px;
	}

	.service_link a {
		font-size: 15px;
	}

	.service_link {
		padding: 5% 0%;
	}

	.landing_sec_3 {
		display: none;
	}

	.landing12 {
		width: 100%;
	}

	.tagline {
		height: 40vh;
		background-image: url("../images/Path3.png"); 
	}

	.tagline p {
		text-align: center;
		font-size: 25px;
    	margin: 0% 5%;
	}

	.about1 {
		height: 150vh;
	}

	.content_image1 {
		height: 300px;
		width: 100%;
		top: 8%;
	}

	.content1 {
	    width: 100%;
    	top: 45%;
	}

	.multiuse_circle1 {
		margin-top: 141vw;
	}


	.about2 {
		height: 150vh;
	}

	.content_image21 {
		height: 400px;
		width: 100%;
	}

	.content_image22 {
		height: 160px;
    	width: 80%;
    	left: 10%;
	}

	.multiuse_circle2 {
		margin-top: 86%;
	}

	.content2 {
		width: 100%;
		top: 60%;
	}

	.about3 p {
		font-size: 18px;
	}

	.about4 {
		height: 145vh;
	}

	.content3 {
		width: 100%;
    	padding: 5%;
    	left: 0vw;
    	top: 28%;
	}

	.content5 {
		padding: 20% 0%;
	}

	.three_sections {
		flex-direction: column;
		height: 300vh;
	}

	.section_box {
		height: 80vh;
	}	

	.section_box:hover {
		height: auto;
	}

	.section_content:hover {
		padding: 10%;
	}

	.multiuse_circle {
		height: 100px;
		width: 100px;
	}

	.content_image31 {
		height: 300px;
		width: 100%;
	}

	.multiuse_circle3 {
		margin-left: 61vw;
    	margin-top: 179vw
    }

    .good_at {
    	bottom: 10%;
    }

    .good_at_this {
    	display: block;
    	position: absolute;
    	bottom: 2%;
    	left: 50%;
    	transform: translateX(-50%); 
    	text-align: center;
    }

    .good_at_this p{
    	font-size: 15px;
    	font-weight: normal;
    	color: white;
    } 

    .three_sections {
    	height: 1000px;
    }

    .section_box:hover {
    	height: auto;
    	flex: 3;
    }

	footer {
		padding: 20%;
	}

	.links {
		width:50%;
		margin-bottom: 5%;
	}

	.footer_menu {
		display: block;
		padding: 5% 0%;
	}

	.footer_item {
		font-weight: normal;
		padding: 1%;
	}

	.copyright p {
		padding: 5% 0%;
	}
}
