* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html {
	height: 100%;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	cursor: arrow;
}

a {
	text-decoration: none;
	color: initial;
}

nav {
	height: 80px;	
	padding: 0px 5%;	
}

.logo {
	cursor: pointer;
	display: flex;
	float: left;
	height: 100%;
	width: 160px;
	align-items: center;
}

.inside_logo {
	flex: 1;
	background-image: url("../images/companylogo.jpeg"); 
	background-size: 160px 45px; 
	height: 45px;
	width: 160px;
} 

.nav_bar {
	float: right;
}

.nav_links {
	height: 80px;
	display: flex;
	align-items: center;
}

.nav_links li {
	display: inline;
	position: relative;
	font-size: 15px;
	padding: 10px 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.contact_button {
	background-color: #99c24d;
	border-radius: 20px;
	margin: 0px 0px 0px 15px;
}

.nav_bar ul li a {
	color: black;
	text-decoration: none; 
}

.nav_bar ul li:last-child a {
	color: white;
}

.fa-angle-down {
	margin: 0px 0px 0px 4px;
}

.nav_bar ul li:hover {
	cursor: pointer;
	opacity: 0.6;
}

.nav_bar ul li a:last-child:hover {
	color: black;
	opacity: 0.8;
}

.service_links {
	position: fixed;
	background-color: #ee696e;
	height: 100vh;
	width: 100%;
	top: 0%;
	left: 0%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: circle(0px at 80% 5%);
/*	-webkit-clip-path: circle(32px at 88% -10%);*/
	transition: all 0.7s ease-in-out;
	pointer-events: none;
}

.service_links.open {
	clip-path: circle(1300px at 80% 5%);
	/*-webkit-clip-path: circle(800px at 88% 7%);*/
	pointer-events: all;
}

.inside_service_links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service_link_each {
	font-size: 80px;
	font-weight: bold;
}

.service_link_each a p {
	color: transparent;
	-webkit-text-stroke: 2.5px white; 
}

.service_link_each a p:hover {
	opacity: 0.5;
	transform: translateX(5%);
	transition: transform 0.5s ease-in-out;
}

.fa-times {
	color: white;
	font-size: 40px;
	position: absolute;
	top: 5%;
	right: 4%;
}

.fa-times:hover {
	opacity: 0.5;
}



/*Main page landing section(the first section you see 
when the website opens)*/
.landing {
	padding: 0% 5%;
	background-color: transparent;
	height: 85vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.landing12 {
	display: flex;
	width: 40%;
	align-items: center;
}

/*landing_sec1*/
.landing_sec_1 {
	background-color: transparent;
	flex: 1;
	display: grid;
	align-items: center;
	padding: 0% 5%;
}

.trasition_circle {
	height: 18px;
	width: 18px;
	display: block;
	background-color: transparent;
	border-radius: 50%;
	border: 4px solid #048ba8;
	margin: 0.5rem 0rem; 
}

.trasition_circle1 {
	background-color: #048ba8;
} 

.landingsec1_line {
	height: 100px;
	width: 2px;
	background-color: #048ba8;
	margin-top: 5%;
}



/*landing_sec2*/
.landing_sec_2 {
	flex: 3;
	display: grid;
	flex-direction: column;
	align-items: center;
	padding: 15% 0% 15% 5%;
}

.text_animation {
	animation: text_anime 1s ease-out;
}

.inside_landing_sec_2 {
	display: flex;
	flex-direction: column;
}

.service_info {
	flex: 1;
	margin: 10% 0%;
}

.banner {
	font-size: 45px;
	color: #99c24d;
	font-family: 'Shadows Into Light', cursive;
}

.service_name {
	font-size: 80px;
	color: transparent;
	font-weight: bold;
	-webkit-text-stroke: 2px #048ba8;
	line-height: 70px;
}

.service_link a {
	font-size: 18px;
	color: white;
	background-color: #99c24d;
	padding: 8px 25px;
	border-radius: 25px;
}

.service_link {
	margin: 5% 0%;
}


.button_trigger {
	flex: 1; 
}

.transition_button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.fa-chevron-right, .fa-chevron-left {
	font-size: 50px;
	color: #048ba8;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.fa-chevron-right:hover, .fa-chevron-left:hover {
	opacity: 0.8;
}

.transition_button:focus {
	outline: none;
}



/*landing_page section3*/
.landing_sec_3 {
	background-color: /*#232323*/transparent;
	height: 90%;
	width: 50%;
	position: absolute;
	right: 5%;
	top: 5%;
}

.landingimg1 {
	width: 300px;
	height: 350px;
	position: absolute;
	top: 25%;
	z-index: 3;
	overflow: hidden;
}

.inside_landingimg1 {
	background: url("../images/business1.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	/*animation: image_1_anime 1s ease-in;*/
}

.betline1 {
	height: 92%;
	width: 2px;
	background-color: #707070;
	position: absolute;
	top: 0%;
	left: 298px;
	z-index: 10;
}

.landingimg2 {
	width: 300px;
	height: 350px;
	position: absolute;
	top: 0%;
	left: 298px;
	z-index: 5;
	overflow: hidden;
}
	
.inside_landingimg2 {
	background-image: url("../images/business2.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	/*animation: image_2_anime 1s ease-in 0.1s;*/
}

.betline2 {
	height: 105%;
	width: 2px;
	background-color: #707070;
	position: absolute;
	top: -5%;
	left: 550px;
	z-index: 10;
}


.imagehide2 {
	width: 150px;
	height: 350px;
	position: absolute;
	top: 0%;
	left: 550px;
	background-color: white;
	z-index: 5;
}

.landingimg3 {
	width: 120px;
	height: 300px;
	position: absolute;
	top: 35%;
	left: 550px;
	z-index: 7;
	overflow: hidden;
}

.inside_landingimg3 {
	background-image: url("../images/business3.png");
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	/*animation: image_3_anime 1s ease-in 0.05s;*/
}

.startanimation1 {
	animation: start_image_1_anime 0.5s ease-out;
}

.startanimation2 {
	animation: start_image_2_anime 0.5s ease-out;
} 

.startanimation3 {
	animation: start_image_3_anime 0.5s ease-out;
}


.animation1 {
	animation: image_1_anime 1s ease-out;
}

.animation2 {
	animation: image_2_anime 1s ease-out 0.1s;
} 

.animation3 {
	animation: image_3_anime 1s ease-out 0.3s;
}

.secondalpha p{
	font-size: 150px;
	width: 200px;
	margin: 0px;
	z-index: 7;
	font-family: 'Kaushan Script', cursive;
}

.firstalpha p {
	font-size: 150px;
	width: 200px;
	margin: 0px;
	z-index: 4;
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
}

.firstalpha {
	position: absolute;
	top: 0px;
	left: 200px;
	z-index: 2;
	color: #048ba8;
}

.secondalpha {
	position: absolute;
	top: 250px;
	left: 440px;
	z-index: 5;
	color: #99c24d;	
}


@keyframes start_image_1_anime {
	0% {
		opacity: 0;
		transform: translateX(0px);
	}


	1% {
		opacity:0 ;
		transform: translateX(300px) rotate(-30deg);
	}

	2% {
		opacity:1;
	}
}


@keyframes start_image_2_anime {
	0% {
		opacity: 0;
		transform: translateX(0px);
	}


	1% {
		opacity: 0;
		transform: translateX(-350px) rotate(30deg);
	}

	2% {
		opacity: 1;
	}
}

@keyframes start_image_3_anime {
	0% {
		opacity: 0;
		transform: translateX(0px);
	}

	1% {
		opacity: 0;
		transform: translateX(-120px) rotate(20deg);
	}

	2% {
		opacity: 1;
	}
}

@keyframes image_1_anime {
	0% {
		transform: translateX(0px);
	}


	50% {
		transform: translateX(300px) rotate(30deg);
	}
}


@keyframes image_2_anime {
	0% {
		transform: translateX(0px);
	}


	50% {
		transform: translateX(-350px) rotate(30deg);
	}
}

@keyframes image_3_anime {
	0% {
		transform: translateX(0px);
	}

	50% {
		transform: translateX(-120px) rotate(-20deg);
	}
}

@keyframes text_anime {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
		transform: translateX(100px);
	}

	50% {
		opacity: 0;
		transform: translateY(100px);
	}

	75% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.landing_page_bg {
	position: relative;
}

.bg_div_LP {
	position: absolute;
	top: -20%;
	z-index: -10;
	height: 130%;
	width: 100%;
	background-color: transparent;
	display: none;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.inside_bg_div_LP {
	height: 100%;
	width: 100vh;
	background-image: url('../images/section_bg.jpg');
	background-size: 100% 100%;
}

.tagline {
	height: 40vh;
	width: 100%;
	background-image: url("../images/Path 2.png");
	background-size: 100% 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}


.tagline p {
	font-size: 50px;
	margin-top: 6%;
	color: white;
}


/*pre-loader*/
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.load_circle {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 5px; 
	border-radius: 50%;
}

.load_circle1 {
	background-color: darkblue;
	opacity: 0.6;
	animation: loader_anime 0.7s ease-out infinite;
}

.load_circle2 {
	background-color: red;
	opacity: 0.6;
	animation: loader_anime 0.7s ease-out 0.2s infinite;
}

.load_circle3{
	background-color: grey;
	opacity: 0.6;
	animation: loader_anime 0.7s ease-out 0.4s infinite;
}

@keyframes loader_anime {
	0% {
	}

	25% {
		transform: translateY(-10px);
	}

	50% {
		transform: translateY(10px);
	}
}


/*About or what we do*/

.about { 
	font-size: 16px;
	font-weight: bold;
	height: 100vh; 
}

.about1 {
	margin: 0% 10%;
	position: relative;
}

.about2, .about4{
	background-color: #232121;
	position: relative;
}

.content {
	position: absolute;
}

.contentline {
	width: 30%;
	height: 2px;
	margin: 2% 0%;
	background-color: #ea7a7f;
}

.intro-text {
	opacity: 0;
	transform: translateY(20%);
	transition: all 0.7s ease-in-out;
}

.content1 {
	width: 50%;
	top: 20%;
	left: 0%;
}

.content2 {
	top:10%;
	right: 0%; 
	color: white;
	width: 40%;
}

.content3 {
	width: 30%;
	top: 210px;
	left: 50px;
	color: white;
}

.intro-appear {
	opacity: 1;
	transform: translateY(0%);
}

.content_image1 {
	height: 80%;
	width: 40%;
	overflow: hidden;
	position: absolute;
	top: 10%;
	right: 0%;
}

.contentimage1 {
	background-image: url('../images/linkedin-featured-image.png'); 
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

.multiuse_circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: absolute;
}

.multiuse_circle1 {
	background-color: #048ba8;
	margin-left: 42vw;
    margin-top: 20vw;	
}


.inside_about2 {
	background-color: transparent;
	margin: 0% 7%; 
	height: 100%;
	position: relative;
}


.content_image21 {
	height: 100%;
	width: 45%;
	background-color: blue;
	overflow: hidden;
	position: absolute;
	left: 0%;
	top: -10%;
}

.contentimage21 {
	background-image: url("../images/es7.png");
	background-size: 100% 150%; 
	height: 100%;
	width: 100%;
}

.content_image22 {
	height: 35%;
	width: 30%;
	background-color: blue;
	overflow: hidden;
	position: absolute;
	left: 26%;
	top: 30%;
}

.contentimage22 {
	background-image: url("../images/linkedin-19.png");
	background-size: 100% 100%; 
	height: 100%;
	width: 100%;
}

.multiuse_circle2 {
	background-color: #048ba8;
	margin-left: 50%;
	margin-top: 32%;	
}

.about3 {
	height: 70vh;
	background-color: transparent;
	padding: 5%;
	display: flex;
	align-items: top;
}

.about3 p {
	flex: 5;
	text-align: center;
	font-weight: bold;
	font-size:20px; 
	color: #919a9e;
}

.doublecomma {
	flex: 1;
	font-size: 100px;
	color: #ea7a7f;
	display: grid;
	justify-content: center;
}

.doublecomma1 {
	top: 10%;
	left: 10%;
}

.doublecomma2 {
	top: 35%;
	left: 85%;
}

.content5 {
	padding: 3% 0%;
}

.background_div {
	position: absolute;
	height: 100%;
	width: 60%;
	background-color: #232121;
}

.content_image31 {
	height: 40vw;
	width: 60vw;
	background-color: transparent;
	overflow: hidden;
	position: absolute;
	right: 0vw;
	transform: translateY(-12vw);
}

.contentimage31 {
	background-image: url("../images/chair.png");
	background-size: 100% 100%; 
	height: 100%;
	width: 100%;
	transform: translateX(60vw);
	transition: transform 0.8s ease-in-out;
}

.div-appear {
	transform: translateX(0vw);
}

.multiuse_circle3 {
	background-color: #332d2d;
	margin-left: 35vw;
	margin-top: 3vw;	
}

.good_at {
	position: absolute;
	bottom: -5%;
	z-index: 30;
	left: 50%;
	text-align: center;
	transform: translate(-50%,0%);
}

.good_at p {
	font-size: 100px;
	line-height: 80px;
	color: transparent;
	-webkit-text-stroke: 1px white;
}

.good_at_this {
	display: none;
}


/*The three main services*/
.three_sections {
	display: flex;
	height: 50vw;
	position: relative;
	background-color: black;
}

.brands {
	display: none;
	height: 100vw;
	background-color: pink;
}

.section_box {
	flex: 1;
	padding: 11% 1%;
	transition: all 0.5s ease-out;
	color: white; 
	overflow: hidden;
}

.section_box1 {
	background-color: #91989e;
	background-image: none;
	opacity: 1;
}

.section_box2 {
	background-color: #2e4057;
	background-image: none;
	opacity: 1;
}

.section_box3 {
	background-color: #048ba8;
	background-image: none;
	opacity: 1;
}

.section_box1:hover {	
	flex: 1.3;
	background-image: url("../images/section_bg.jpg");
	background-size: 100% 100%;
	padding: 2%;
	color: white;
	transition: all 0.5s ease-out;
}

.section_box2:hover {
	flex: 1.3;
	background-image: url("../images/section_bg3.jpg");
	background-size: 100% 100%;
	padding: 2% 3%;
	color: white;
	transition: all 0.5s ease-out;
}

.section_box3:hover {
	flex: 1.3;
	background-image: url("../images/section_bg2.jpg");
	background-size: 100% 100%;
	padding: 2% 3%;
	color: white;
	transition: all 0.5s ease-out;
}


.section_content {
	width: 100%;
	padding: 20% 10%;
	opacity: 1;
}

.section_heading {
	font-size: 50px;
	font-weight: bold;
	color: white;
	margin-bottom: 25%;
}

.section_descr p {
	font-weight: bold;
	font-size: 17px; 
}

.fa-long-arrow-alt-right {
	font-size: 60px;
}

.section_descr {
	opacity: 0;
	transform: translateY(270px);
	transition: all 0.7s ease-in-out;/* text move down*/
}

.hide_section {
	overflow: hidden;
}

.text_move_up {
	opacity: 1;
	transform: translateY(0px);
}


/*brands*/
.brands {
	display: none;
	height: 100vw;
	background-color: pink;
}

/*footer*/
footer {
	width: 100%;
	background-color: #2e4057;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4%;
}

.links {
	width: 30%;
	padding-bottom: 1%; 
}

.links div {
	display: inline;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram {
	font-size: 30px;
	color: white;
	padding: 2%; 
}

.footer_menu {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1%;
}

.footer_item {
	flex: 1;
	color: white;
	font-size: 20px;
}

.copyright p {
	color: white;
	font-size: 17px; 
	margin-top: 2%; 
}


/*popup contact*/
.contact_bg {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0;
	z-index: 99999;
}

.contact_div {
	margin: 7% 20%;
	height: 70%;
}

.contact_us, .sign_in {
	width: 50%;
	height: 100%;
	float: left;
	display: inline-block;
}

.contact_us {
	background-color: rgba( 0, 0, 0, 0.6);
}

.sign_in {
	background-color: #048ba8;
	opacity: 1;
	z-index: 999999;
}
