@media screen and (max-width: 768px) {

	nav {
		background-color: black;
		position: relative;
	}

	.hamberger_line {
		width: 40px;
		height: 4px;
		background-color: white;
		margin: 7px; 
	}

	.hamberger {
		position: absolute;
		right: 0%;
		transform: translate(-50%,-50%);
		top: 50%;
		z-index: 20;
		cursor: pointer;
	}

	.nav_links {
		position: fixed;
		background-color: #63a8b8;
		height: 100vh;
		width: 100%;
		top: 0%;
		left: 0%;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		clip-path: circle(32px at 88% -10%);
		-webkit-clip-path: circle(32px at 88% -10%);
		transition: all 0.7s ease-in-out;
		pointer-events: none;
	}

	.nav_links.open {
		clip-path: circle(800px at 88% 7%);
		-webkit-clip-path: circle(800px at 88% 7%);
		pointer-events: all;
	}

	.nav_links li {
		font-size: 40px;
		margin: 2% 0%; 
		background-color: transparent;
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	} 

	.nav_bar ul li a {
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.contact_button {
		margin: 0;
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.nav_bar ul li:last-child a {
		color: transparent;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.service_link_each {
		font-size: 30px;
		-webkit-text-stroke: 1px white;
	}

	.service_link_each a p {
		color: transparent;
    	-webkit-text-stroke: 1px white;
    	padding: 4% 0%;
	}

	.load_circle {
		height: 30px;
		width: 30px;
	}

	.banner {
		font-size: 10px;
	}

	.service_name {
		font-size: 40px;
	}

	.landing_sec_3 {
		display: none;
	}

	.landing12 {
		width: 100%;
	}

	.tagline {
		height: 100vh;
		background-image: url("../images/Path3.png"); 
	}

	.tagline p {
		height: auto;
		text-align: center;
		padding: 2%;
	}

	.three_sections {
		flex-direction: column;
		height: 300vh;
	}

	.section_box {
		height: 80vh;
	}	

	.section_box:hover {
		height: auto;
	}

	.multiuse_circle {
		height: 100px;
		width: 100px;
	}

	footer {
		padding: 20%;
	}

	.links {
		width:50%;
		margin-bottom: 5%;
	}

	.footer_menu {
		display: block;
		padding: 3% 0%;
	}

	.footer_item {
		font-weight: normal;
		padding: 1%;
	}

	.copyright p {
		padding: 5% 0%;
	}
}
