html {
	width: 100%;
}

nav {
	background-color: rgba(0,0,0,0.5); 
	z-index: 999;
}

.nav_bar ul li {
	color: white;
}

.nav_bar ul li a {
	color: white;	
}

.nav_bar ul li ul li a {
	color: white;	
}


/*landing*/
.bgdiv {
	background-color: black;
	background-size: 100% 200%;
	background-position: 0% 80%;
}

/*introduction to Influencer Marketing*/
.introduceIF {
	display: block;
	height: 90vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5); 
	font-size: 15px;
	font-weight: bold;
}

.aboutIF {
	background-color: black;
	display: block;
	height: 100%;
	position: relative;
}

.content_IF {
	position: absolute;
	color: white;
	width: 40%;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.content_IF p:first-child {
	font-size: 5rem;
	color: transparent;
	line-height: 3.5rem;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-text-stroke: 2px #ea7a7f;
}

.content_IF p:nth-child(2) {
	font-size: 5rem;
	color: transparent;
	line-height: 4rem;
	margin: 0 0 0 40%; 
	-webkit-text-stroke: 2px white;
}

.contentline_IF1 {
	width: 60%;
	height: 3px;
	background-color: #ea7a7f;
	margin: 4% 50% 0% 0%;
	transform: translate(0%,0%);
}

.intro_content_IF {
	font-size: 1.3em;
	width: 100%;
	font-weight: normal;
	text-align: right;
	margin-top: 1.5rem;
	transform: translate(-40%,0%);
}


/*influencers*/
.influencers {
	position: relative;
	height: 500vh;
	background-color: black;
}

.multiuse_circle_influencers {
	background-color: #332d2d;
	top: 1%;
	left: 2%;
	height: 5%;
	width: 12%;
}

.featured {
	position: absolute;
	top: 2%;
	left: 5%;
}

.featured p {
	font-size: 4rem;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke: 2px white;
	margin: 0; 
	line-height: 80px;
	letter-spacing: -2px;
}

.contentline_IF2 {
	width: 50%;
	margin-top: 0.5rem;
}


.IF_bg {
	position: absolute;
	top: 10%;
	left: 30%;
	background-color: #090f11;
	height: 88%;
	width: 40%;
}






/*influencer content*/

/*influencer images*/
.influencer_image {
	position: absolute;
	height: 8.5%;
	width: 20%;
	background-color: white;
	background-size: 100% 100%;
}

.influencer_image1 {
	background-image: url("../images/influencer6.png");
	margin-top: 20%;
	margin-left: 28%;
}

.influencer_image2 {
	background-image: url("../images/influencer1.png");
	margin-top: 46%;
	margin-left: 56%;
}

.influencer_image3 {
	background-image: url("../images/influencer5.png");
	margin-top: 55%;
	margin-left: 20%;
}

.influencer_image4 {
	background-image: url("../images/influencer8.png");
	margin-top: 80%;
	margin-left: 45%;
}

.influencer_image5 {
	background-image: url("../images/influencer2.png");
	margin-top: 115%;
	margin-left: 20%;
}

.influencer_image6 {
	background-image: url("../images/influencer9.png");
	margin-top: 130%;
	margin-left: 60%;
}

.influencer_image7 {
	background-image: url("../images/influencer10.png");
	margin-top: 150%;
	margin-left: 25%;
}

.influencer_image8 {
	background-image: url("../images/influencer3.png");
	margin-top: 170%;
	margin-left: 59%;
}

.influencer_image9 {
	background-image: url("../images/influencer4.png");
	margin-top: 190%;
	margin-left: 20%;
}

.influencer_image10 {
	background-image: url("../images/influencer11.png");
	margin-top: 200%;
	margin-left: 63%;
}

.influencer_image11 {
	background-image: url("../images/influencer7.png");
	margin-top: 220%;
	margin-left: 32%;
}

/*letter*/
.name_first_alpha {
	font-size: 20rem;
	position: absolute;
}

.name_first_alpha1 {
	margin-top: 19%;
	margin-left: 20%;
}

.name_first_alpha2 {
	margin-top: 28%;
	margin-left: 65%;
}

.name_first_alpha3 {
	margin-top: 55%;
	margin-left: 35%;
}

.name_first_alpha4 {
	margin-top: 85%;
	margin-left: 60%;
}

.name_first_alpha5 {
	margin-top: 100%;
	margin-left: 30%;
}

.name_first_alpha6 {
	margin-top: 130%;
	margin-left: 50%;
}

.name_first_alpha7 {
	margin-top: 150%;
	margin-left: 15%;
}


.name_first_alpha8 {
	margin-top: 160%;
	margin-left: 50%;
}

.name_first_alpha9 {
	margin-top: 180%;
	margin-left: 37%;
}

.name_first_alpha10 {
	margin-top: 200%;
	margin-left: 75%;
}

.name_first_alpha11 {
	margin-top: 220%;
	margin-left: 20%;
}


/*name div*/
.name_div {
	position: absolute;
	font-size: 1.5rem;
	line-height: 1.2rem;
	opacity: 0;
	transform: translateY(3rem);
	transition: all 0.5s ease-in-out;
}

.move_up_appear {
	opacity: 1;
	transform: translateY(0rem);
}

.name_div p {
	margin-bottom: 10px;
}

.contentline_name {
	width: 140%;
	height: 2px;
}

/*.contentline_name1, .contentline_name3, .contentline_name4, .contentline_name6, .contentline_name7, .contentline_name10  {
	background-color: #91989e;
}

.contentline_name2, .contentline_name5, .contentline_name8, .contentline_name9, .contentline_name11 {
	background-color: #2e4057;
}

.name_div1, .name_div3, .name_div4, .name_div6, .name_div7, .name_div10 {
	color: #91989e;
}

.name_div2, .name_div5, .name_div8, .name_div9, .name_div11  {
	color: #2e4057; /*red*/



.name_first_alpha1, .name_first_alpha5, .name_first_alpha8, .name_first_alpha11{
	color: #f54047/*#048ba8*/;
}

.name_div1, .name_div5, .name_div8, .name_div11 {
	color: #f54047/*#048ba8*/;
}

.contentline_name1, .contentline_name5, .contentline_name8, .contentline_name11{
	background-color: #f54047/*#048ba8*/;
}

.name_first_alpha2, .name_first_alpha4, .name_first_alpha7, .name_first_alpha10 {
	color: #2e4057;
}

.name_div2, .name_div4, .name_div7, .name_div10 {
	color: #2e4057;
}

.contentline_name2, .contentline_name4, .contentline_name7, .contentline_name10 {
	background-color: #2e4057;
}

.name_first_alpha3, .name_first_alpha6, .name_first_alpha9 {
	color: #91989e;
}

.name_div3, .name_div6, .name_div9 {
	color: #91989e;
}

.contentline_name3, .contentline_name6, .contentline_name9 {
	background-color: #91989e;
}

.name_div1 {
	top: 10%;
	left: 51%;
}

.name_div2 {
	top: 25%;
	left: 80%;
}

.name_div3 {
	top: 22%;
	left: 10%;
}

.name_div4 {
	top: 32%;
	left: 69%;
}

.name_div5 {
	top: 53%;
	left: 43%;
}

.name_div6 {
	top: 49.5%;
	left: 71%;
}

.name_div7 {
	top: 69.5%;
	left: 31%;
}

.name_div8 {
	top: 66%;
	left: 71%;
}

.name_div9 {
	top: 80%;
	left: 10%;
}

.name_div10 {
	top: 82%;
	left: 55%;
}

.name_div11 {
	top: 90%;
	left: 55%;
}









/*media queries*/
@media mobile and (max-width: 320px) {

html {
	width: 100%;
}

.content_IF p:first-child {
	font-size: 2rem;
}




}
