@media screen and (max-width: 768px) {

	.hamberger_line {
		background-color: white;
	}

	.introduceIF {
		padding: 20% 5%;
		height: 100vh;
	}

	.content_IF {
		position: static;
		transform: translate(0%,0%);
	}

	.content_IF p:nth-child(1), .content_IF p:nth-child(2)  {
		font-size: 50px;
		position: static;
		line-height: 50px;
	}

	.contentline_IF1 {
		width: 100%;
		margin: 10% 0%;
	}

	.intro_content_IF {
		width: 200%;
		text-align: left;
		margin-top: 25%;
		margin-left: 10%;
		transform: translate(0%,0%);
	}

	.featured p {
		font-size: 36px;
		height: auto;
		width: 70%;
	}

	.multiuse_circle_influencers {
		height: 150px;
		width: 150px;
	}

	.influencers {
		height: 3500px;
	}

	.IF_bg {
		z-index: 0;
	}

	.influencer_image_flex {
		display: flex;
		flex-direction: column;
		margin-top: 50%;
		position: absolute;
		z-index: 5; 
	}

	.influencer_image {
		height: 150px;
    	width: 150px;
    	position: static;
    	margin: 50% 50%;
	}

	.influencer_image:nth-child(even) {
		margin: 50% 100%; 
	}

	.name_first_alpha_flex {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 5%;
		z-index: 2;
	}

	.name_first_alpha {
    	font-size: 200px;
    	position: static;
    	margin: 35% 10%; 
	}

	.name_first_alpha:nth-child(even) {
		margin: 20% 0% 20% 140%;
	} 

	.name_div_flex {
		position: absolute;
		display: flex;
		flex-direction: column;
		margin-top: 0%;
		width: 100vw;
	} 

	.name_div {
		position: static;
		font-size: 20px;
		margin: 32% 10%;
	}

	.name_div1, .name_div3, .name_div5, .name_div7, .name_div9, .name_div11 {
		margin: 30% 60%;
	}

	.name_div:first-child {
		margin-top: 70%;
	}

	.contentline_name {
		width: 100px;
		height: 1px;
	}
}