
.intro_content_IF {
	width: 90%;
}

.PM_flex {
	display: flex;
	padding: 5% 7%;
	background-color: transparent;
	justify-content: space-around;
	flex-wrap: wrap;
}

.PM_flex_box {
	width: 220px; 
	height:220px;
	margin: 2%;
	box-shadow: 10px 10px 30px grey;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	text-align: center;
	color: white;
}

.PM_flex_box1 {
	background-color: #a0d099;
}

.PM_flex_box2 {
	background-color: #ee696e;
}

.PM_flex_box3 {
	background-color: #dbd9da;
}

.PM_flex_box4 {
	background-color: #f9ee81;
}